{{#each command in commands}}
    {{command-builder command=command}}
{{/each}}

<li id="add-command">
    <div class="annotation">
        <button {{action "download"}} type="button" class="btn btn-default">
            <i class="fa fa-download"></i> Download
        </button>

        <button {{action "copyToClipboard"}} type="button" class="btn btn-default">
            <i class="fa fa-files-o"></i> Copy to Clipboard
        </button>

        <button {{action "addCommand"}} type="button" class="btn btn-success">
            <i class="fa fa-plus"></i> Add Command
        </button>
    </div>
</li>
