@import 'code-highlighter.less';
@import 'command-builder.less';

html,
body,
.application,
.index-container,
.left,
.right {
    height: 100%;
}

body {
    background-color: #333;
}

.content {
    background-color: #fff;
    padding: 5px 55px 25px 35px; 
    width: 775px;
}

.footer,
.application {
    position: absolute;
}

.footer {
    height: 100%;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 100;
    margin-bottom: 25px;

    strong {
        font-weight: 400px;
    }
}

.script-builder {
    margin-left: 35px;
}
