.command-builder {
    .form-container,
    .comment {
        background-color: #e8e8e8;
        padding: 10px;
    }

    .comment {
        font-size: 10px;
        border-bottom: 1px solid #ccc;
    }

    select {
        width: 135px;
    }
}
