{{input value=value class="form-control" placeholder=argument.label focus-out="blur"}}
<div class="file-input">
    <input type="file">
    <button type="button" class="btn btn-default">...</button>
</div>
