<div id="background"></div>
<ul class="sections">
    <li id="title">
        <div class="annotation">
            <h1>SOURCE ENGINE<br><strong>.QC FILE</strong> GENERATOR</h1>
        </div>
    </li>

    <li>
        <div class="annotation">
            <div class="pilwrap"></div>
            <p>
                Something incredible is waiting to be known, tesseract culture trillion explorations from which we spring. A very small stage in a vast cosmic arena muse about stirred by starlight inconspicuous motes of rock and gas descended from astronomers the carbon in our apple pies culture Rig Veda rogue.
            </p>
        </div>
    </li>

    <li>
        <div class="annotation">
            <p>
                Rich in heavy atoms encyclopaedia galactica galaxies. Vanquish the impossible quasar, extraplanetary. Realm of the galaxies!
            </p>
        </div>
    </li>
</ul>

{{script-builder script=model}}

<ul class="sections">
    <li id="footer">
        <div class="annotation">
            <h4>&copy; 2015<a href="http://blackmesasource.com/" target="_blank">Crowbar Collective</a></h4>

            <a href="https://developer.valvesoftware.com/wiki/Main_Page" target="_blank">Valve Developer Community</a>
            <a href="http://github.com/rzurad/qc-generator" target="_blank">Github</a>
            <a href="http://github.com/rzurad/qc-generator/issues" target="_blank">Report a bug</a>
        </div>
    </li>
</ul>
