<div id="background"></div>
<ul id="title" class="sections">
    <li>
        <div class="annotation">
            <h1>SOURCE ENGINE<br><strong>.QC FILE</strong> GENERATOR</h1>
        </div>
    </li>

    <li>
        <div class="annotation">
            <div class="pilwrap"></div>
            <p>
                A <a href="https://developer.valvesoftware.com/wiki/Qc" target="blank">QC</a> file is a script which controls the <a href="https://developer.vavlesoftware.com/wiki/Compiling_a_model" target="_blank">process of compiling 3D models</a> into a format that can be loaded into <a href="http://www.valvesoftware.com/" target="_blank">Valve's</a> <a href="https://developer.valvesoftware.com/wiki/Source" target="_blank">Source engine</a>. Basically, you take a set of source files (<a href="https://developer.valvesoftware.com/wiki/Studiomdl_Data" target="_blank">SMD</a>, <a href="https://developer.valvesoftware.com/wiki/Dmx" target="_blank">DMX</a>, etc) that describe a model you've made, create a QC file describing said model/files in the context of the Source engine, and feed it to <a href="https://developer.valvesoftware.com/wiki/Studiomdl" target="_blank">Studiomdl</a>.
            </p>

            <p>
                Creating a QC file manually can be a bit tedious (side effects may include: typos, studiomdl errors, hair-loss-inducing frustration), so we created this page to (hopefully) alleviate any symptoms of Valve Developer Tools you may be experiencing.
            </p>
        </div>
    </li>
</ul>

{{script-builder script=model}}

<ul class="sections">
    <li id="footer">
        <div class="annotation">
            <h4>&copy; 2015<a href="http://blackmesasource.com/" target="_blank">Crowbar Collective</a></h4>

            <a href="https://developer.valvesoftware.com/wiki/Main_Page" target="_blank">Valve Developer Community</a>
            <a href="http://github.com/rzurad/qc-generator" target="_blank">Github</a>
            <a href="http://github.com/rzurad/qc-generator/issues" target="_blank">Report a bug</a>
        </div>
    </li>
</ul>
